# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache

# OS or Editor folders
build.xml
nbbuild.xml
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
lib/nblibraries.properties
lib/CopyLibs
lib/CopyLibs-*
lib/javaee-endorsed-api-6.0*
lib/junit*
lib/primefaces*
*.sublime-project
*.sublime-workspace
lib/tomahawk*
web/welcomePrimefaces.*

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
build
dist
