/* 
    Document   : GestionProjetCSS
    Created on : 30-nov.-2012, 10:29:34
    Author     : g35001
    Description:
        Purpose of the stylesheet follows.
*/

.info {
    background-color: #0099ff !important;
    background-color: #66ccff
}

.warning {
    background-color:#ffcc00 !important;
}

.error {
    background-color: #ff0000 !important;
}

/* #{colorCtrl.computeColor(item.importance)} */