/* Styles généraux */

body
{
	margin: 0;
	padding: 15px;
}



/* header: Zone contenant le titre principal, éventuellement un logo, menu, etc. */

#header
{
	float: left;
}

#header h1
{
	margin: 0px;
	padding: 0px;
}



/* Classe input-form: utilisée pour formulaires */

.input-form .form-title
{
	text-align: center;
	border: 1px solid #66AAFF;
	padding: 8px;
}

.input-form .td-left
{
	text-align: right;
	padding-right: 15px;
}

.input-form .td-center
{
	width: 200px;
}

.input-form .td-center input
{
	width: 100%;
}

.input-form .td-right
{
	padding-left: 15px;
	color: #F00;
	font-style: italic;
}

.input-form hr
{
	border: none;
	background-color: #66AAFF;
	height: 1px;
}

.input-form #div-status
{
	text-align: center;
}

.input-form .txt-success
{
	color: #0A0;
}

.input-form .txt-error
{
	color: #F00;
}



/* login-box: Composant d'identification d'un utilisateur */

#login-box
{
	float: right;
}

#login-box form table tr td
{
	text-align: right;
	padding-left: 10px;
}